.unsplashtsn8bpopveoIcon {
  align-self: stretch;
  position: relative;
  border-radius: 7.48px;
  max-width: 100%;
  overflow: hidden;
  height: 149.5px;
  flex-shrink: 0;
  object-fit: cover;
}
.storyBeachfrontSuite {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
}
.discoveryShores,
.night {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
}
.discoveryShores {
  font-size: 16.45px;
  text-transform: capitalize;
}
.night {
  font-size: 13.46px;
}
.stayDetails,
.storyBeachfrontSuiteParent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.storyBeachfrontSuiteParent {
  flex-direction: column;
  gap: 4.49px;
}
.stayDetails {
  align-self: stretch;
  flex-direction: row;
}
.div,
.vectorIcon {
  position: relative;
  width: 12.4px;
  height: 12.8px;
}
.div {
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 17.9px;
  height: 14.2px;
  flex-shrink: 0;
}
.vectorParent {
  width: 33.1px;
  height: 14.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.reviews {
  position: relative;
  letter-spacing: 0.04em;
  color: var(--color-cornflowerblue-100);
  display: inline-block;
  width: 161.7px;
  height: 14.2px;
  flex-shrink: 0;
}
.rating {
  width: 201.8px;
  height: 14.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.button {
  position: relative;
  font-size: 11.21px;
  letter-spacing: 0.34px;
  line-height: 19.44px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--components-button-large);
  color: var(--color-cornflowerblue-100);
  text-align: left;
  display: inline-block;
  width: 81.5px;
  height: 19.4px;
  flex-shrink: 0;
}
.hotelCard,
.hotelCard2,
.moreDetailsButton {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
}
.moreDetailsButton {
  cursor: pointer;
  border: 0.7px solid var(--color-lavender-100);
  padding: 0;
  background-color: transparent;
  border-radius: 2.99px;
  height: 34.4px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hotelCard,
.hotelCard2 {
  flex: 1;
  align-items: flex-start;
  width: 25%;
}
.hotelCard {
  text-decoration: none;
  border-radius: 7.48px;
  background-color: var(--others-white);
  border: 0.7px solid var(--color-whitesmoke-100);
  flex-direction: column;
  justify-content: flex-start;
  padding: 11.213094711303711px 9.71801471710205px;
  gap: 17.19px;
  color: inherit;
}
.hotelCard:hover {
  background-color: var(--color-gainsboro-300);
}
.hotelCard2 {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-0) 8.970474243164062px;
  text-align: left;
  font-size: 11.96px;
  color: var(--color-darkslategray-100);
  font-family: var(--components-button-large);
}
@media screen and (max-width: 1200px) {
  .hotelCard {
    width: 25% !important;
  }
}
@media screen and (max-width: 960px) {
  .hotelCard {
    width: 100%;
  }
  .hotelCard2 {
    width: 33.33%;
  }
}
@media screen and (max-width: 420px) {
  .discoveryShores {
    font-size: var(--font-size-xl);
  }
  .hotelCard,
  .moreDetailsButton {
    width: 100% !important;
  }
  .hotelCard {
    margin-bottom: 20px;
  }
  .hotelCard2 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
}
