.iconlyboldstar {
  position: relative;
  width: 12px;
  height: 12px;
}
.chips {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 140%;
  font-weight: 600;
}
.sizesmallTypeborderIcon {
  position: absolute;
  top: 328px;
  left: 285px;
  border-radius: var(--br-81xl);
  box-shadow: var(--button-shadow-1);
  border: 2px solid var(--primary-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--body-medium-semibold-size);
  color: var(--primary-500);
  font-family: var(--body-medium-semibold);
}
