.additionalIcons {
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.additionalIcons,
.iconlyboldprofile {
  position: relative;
  width: 20px;
  height: 20px;
}
.label,
.label1 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 140%;
}
.label {
  flex: 1;
}
.label1 {
  font-size: var(--body-medium-semibold-size);
  font-weight: 600;
  color: var(--color-darkgray-200);
  text-align: right;
  display: none;
}
.statusdefaultTypenormalS {
  position: absolute;
  top: 304px;
  left: 16px;
  border-radius: var(--br-base);
  background-color: var(--primary-100);
  box-shadow: var(--button-shadow-2);
  border: 1px solid var(--greyscale-300);
  box-sizing: border-box;
  width: 382px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--body-large-semibold-size);
  color: var(--greyscale-700);
  font-family: var(--body-medium-semibold);
}
