.label {
  flex: 1;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 140%;
}
.statusdefaultTypedefault {
  position: absolute;
  top: 17px;
  left: 16px;
  border-radius: var(--br-base);
  background-color: var(--primary-100);
  box-shadow: var(--button-shadow-2);
  border: 1px solid var(--greyscale-300);
  box-sizing: border-box;
  width: 382px;
  height: 59px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl);
  text-align: left;
  font-size: var(--body-large-semibold-size);
  color: var(--greyscale-700);
  font-family: var(--body-medium-semibold);
}
